!!! 5
html
    block vars
    head
        title #{pageTitle}
        script(type='text/javascript', src='/vendor/jquery-1.11.3.min.js')
        link(rel='stylesheet', href='/vendor/bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/style.css')
        script(type='text/javascript', src='/vendor/bootstrap/js/bootstrap.min.js')
        script(type='text/javascript', src='/vendor/bootstrap/js/holder.js')
        block head
    body
        .navbar.navbar-fixed-top
            .div
                .navbar-header
                .collapse.navbar-collapse
                    ul.nav.navbar-nav
                        li
                            a.btn-default.btn-primary(href='/') Inicio
                        li
                            a.btn-default.btn-primary(href='mailto:chelo_c@live.com') Contacto
        br
        br
        br
        br
        div
            block content
        block scripts
