extends ../layout

block content
    .container
            .jumbotron.col-md-8
                .container
                    h2 Cuestionario
                    br
                    p
                      | A continuación se realizaran varias preguntas para analizar la situacion y dar un resultado especifico utilizando un motor de inferencia.
                    br
                    p
                        a.btn.btn-success.btn-lg(href="/analisis") Siguiente
