extends ../layout

block content
    br
    .container
        .jumbotron.col-md-8
            .row
                .page-header
                    .col-md-8(style="background-color:#{resultado.color};")
                        h2 #{resultado.titulo}
            br
            br
            .row
                    .col-md-12.col-centered
                        p #{resultado.descripcion}
                        br
                        a.btn.btn-primary.btn-lg(, href="/") OK

                    
