extends ../layout

block content
    br
    .container
        .jumbotron.col-md-8
            .row
                .page-header
                    .col-md-6
                        h2 #{resultado.titulo}
                    .col-md-4   
                        btn.btn-lg(style="background-color:#{resultado.color}; display: block;margin-top: 15px;width:50%;") Puesto

            .row
                    .col-md-12.col-centered
                        p #{resultado.descripcion}
                        a.btn.btn-primary.btn-lg(, href="/") OK

                    
